<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white" style="font-family: 'Covered By Your Grace', cursive;";>
            <% if (name) { %>
                <h1 style="font-family: 'Covered By Your Grace', cursive; font-size: 70px"><span style="text-transform: capitalize; font-family: 'Covered By Your Grace', cursive;"><%= name %></span>'s Wardrobe Items</h1>
                <% } else { %>
                    <h1 style="font-family: 'Covered By Your Grace', cursive; font-size: 70px">Wardrobe Index</h1>
                <% } %>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
       
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <% if (items.length) { %>
                <% items.forEach(function(item) { %>
            <div class="col mb-5">

                
                    <!-- Product image-->
                       
                    <div class="card h-100 margined">
                        <ul>
                            <li>
                                <a href="/items/<%= item._id %>">
                                    <img class="card-img-top" src="<%= item.img%>" alt="<%= item.name %> picture">
                                </a> 
                            </li>
                        </ul>

                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%= item.name %></h5>
                                    <!-- Product brand-->
                                    <%= item.brand %>
                            </div>
                        </div>

                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/items/<%= item._id %>">View</a></div>
                    </div>
                    
                    </div>
                
            </div>    
                        <% }); %>
                        <% } else { %>
                        <p>No logs found.</p>
                        <% } %>
        </div>                
    </div>     
</section>
 <%- include('../partials/footer') %>